<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incident Report</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    

        <div class="navbar">
        <a name="back-to-top"></a>
        <ul>
            
            <h1 style="margin-top: 10px; text-align: left;"><a href="homepage.html" style="color:WHITE; display: inline-block;"> Incident <a href="#" style="color:red; display: inline-block;"> Report</a></a></h1>

        <li><a href="homepage.html">HOME</a></li>
        <li><a href="report.html">REPORTS</a></li>
        <li><a href="#contact">ABOUT US</a></li>
        </div>
        
        
        &emsp;
        
        &emsp;
        
        
        
        <div style="padding-left:20px">
            
